# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
# Vs
.vscode/
.vs/
out/
html/
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/query.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.20.5/CMakeSystem.cmake
.gitignore
src/damage/unit_test/Testing/Temporary/CTestCostData.txt
src/damage/unit_test/Testing/Temporary/LastTest.log
.gitignore
